{% extends "base.html" %}

{% block title %}Car Detail{% endblock title %}

{% block content %}
<div style="background-color:#F77948 ; margin: 5%" class="card">
  <h5 class="card-header">Car market Info</h5>
	{% if car.img %}
  <img class="card-img-top" src="{{car.img.url}}" alt="Hey Noob, look at me...">
  {% endif %}

	<div  class="card-body">
	<h5 class="card-title">{{car.make}}</h5>
	<p class="card-text">	<h1>
			{{car.make}} - {{car.model}}
			<small>
				{{car.year}}
			</small>
		</h1></p>

		<div class="row text-center">
			<div class="col-md-6">
					<a href="{% url 'car-update' car.id %}" class="btn btn-dark btn-block">Update</a>
			</div>
			<div class="col-md-6">
					<a href="{% url 'car-delete' car.id %}" class="btn btn-outline-dark btn-block">Delete</a>
			</div>
	</div>
</div>
</div>



{% endblock content %}
